html, body{
    height: 100%;
    margin: 0px;
    background-image: url(""); 
}

.firstdiv{
    background: black;
    width: 65%;
    margin: auto;
    height: 100%;
}

.seconddiv{
    padding-top: 10px;
}

.thirddiv{
    width: 100%;
    border-color: red;
    padding-top: 20px;
}

.forthdiv {
    display: inline-block; 
    width: 20%;
    height: 100px;
    margin: auto; 
    color: red;
}

div {
    
    text-align: center;

}
h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    color: white; 
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color: plum;
}