body{
    height: 100%;
    margin: 0px
}

.firstdiv{
    background: black;
    width: 65%;
    margin: auto;
    height: 100%;
}

.thirddiv{

}
div {
    display: flex;
    flex-direction: column;
    text-align: center;

}
h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: white; 
    display: inline-block;
}