html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-image: url("20181228_135449.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.firstdiv{
    background: black;
    width: 65%;
    margin: auto;
    height: 100%;
    padding-bottom: 5%;
}

.seconddiv{
    padding-top: 10px;
}

.thirddiv{
    margin: auto;
    width: 80%;
    height: 8%;
    padding-top: 20px;
    border-color: white;
    border-style: double;

}

.forthdiv {
    display: inline-block; 
    width: 20%;
    height: 100px;
    margin: auto; 
}

div {
    
    text-align: center;

}
footer{
    margin-bottom: 50px;
}
h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    color: white; 
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color: gray;
}

p{
    color: white;
}